<!--==========================
    Header Section
============================-->
<section class="page-image page-image-about-blog md-padding">
</section>

<!--==========================
    Blog Section
============================-->
<section id="blog" class="md-paddingBlog">

    <div class="container">

        <div class="row text-center">
            <div class="col-md-4 offset-md-4">
                <div class="section-header">
                    <a href="/blog">
                        <h2 class="title"><i class="fas fa-blog"></i>BLOG</h2>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">

            <main id="main" class="col-md-8">


                {{#if sessionMessage.message}}
                <div class="{{sessionMessage.type}}" id="sessionMessage">
                    {{sessionMessage.message}} <a href="" class="delete-item float-right"><i
                            class="fa fa-times"></i></a>
                </div>
                {{/if}}


                <div class="row">


                    {{#each posts}}
                    <div class="col-md-6 mb-3">
                        <div class="blog">
                            <div class="blog-img text-center">
                                <img style="height: 300px;" class="img-fluid rounded" src="{{postImage}}">
                            </div>
                            <div class="blog-content">
                                <ul class="blog-meta text-center">
                                    <li><i class="fas fa-users"></i><span class="writer">{{author.username}}</span></li>
                                    <li><i class="fas fa-clock"></i><span
                                            class="writer">{{generateDate date "LLL"}}</span></li>
                                    <li><i class="fas fa-comments"></i><span class="writer">0</span></li>
                                </ul>
                                <h3 class="text-center">{{title}}</h3>
                                <p>{{{truncate content 200}}}</p>
                                <a href="/blog/{{_id}}">Devamını Oku</a>
                            </div>
                        </div>
                    </div>
                    {{/each}}


                    <div class="col-md-12 mt-4" aria-label="Page navigation example">

                        <ul class="pagination justify-content-center" style="background-color: #fd8a10;">
                            {{#paginate current=current pages=pages}}
                            {{/paginate}}
                            {{!-- <li class="page-item">
                                <a class="page-link text-dark" href="#" tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link text-dark" href="#">1</a></li>
                            <li class="page-item"><a class="page-link text-dark" href="#">2</a></li>
                            <li class="page-item"><a class="page-link text-dark" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link text-dark" href="#">Next</a>
                            </li> --}}
                        </ul>
                    </div>
                </div>
            </main>


            {{> blog-sidebar}}


        </div>
    </div>
</section>