<!--==========================
    Header Section
============================-->
<section class="page-image page-image-about-blog md-padding">
</section>

<!--==========================
    Post Section
============================-->
<section id="blog" class="md-paddingBlog">

    <div class="container">

        <div class="row text-center">
            <div class="col-md-4 offset-md-4">
                <div class="section-header">
                    <a href="/blog">
                        <h2 class="title"><i class="fas fa-blog"></i>BLOG</h2>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">

            <main id="main" class="col-md-8">

                <div class="blog">
                    <div class="blog-img text-center">
                        <img class="img-fluid rounded" src="{{post.postImage}}" alt="">
                    </div>
                    <div class="blog-content">
                        <ul class="blog-meta">
                            <li><i class="fas fa-user"></i>{{post.author.username}}</li>
                            <li><i class="fas fa-clock"></i>{{generateDate post.date "LLL"}}</li>
                        </ul>
                        <h3>{{post.title}}</h3>
                        <p>{{{post.content}}}</p>
                    </div>
                </div>
            </main>


            {{> blog-sidebar}}


        </div>
    </div>
</section>